<div class="container">
    <div class="row">
        <h2>En[quê?]tes</h2>
        <p>Sempre sonhou com um buzzfeed ainda pior? deu sorte!!!</p>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn-large" href="<%= enqueues_path %>">Responder enquetes inúteis</a>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn-large" href="<%= new_enqueue_path %>">Criar a sua enquete inútil</a>
    </div>
</div>