<div class="header-bar z-depth-2">
    <div class="row">
    </div>
    <div class="row center-align">
        <h2>Criar Enquete</h2>
    </div>
    
</div>
<div class="valign-wrapper">
    <div class="container">
    <%= render 'form', enqueue: @enqueue %>

    <%= link_to 'Back', enqueues_path %>
    </div>
</div>